{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
    
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0" nonce="7IMfFPM3"></script>
</head>

<body>
  <nav>
    <div class="hamburger">
      <div class="cent">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
    
    <ul class="nav-links">
      {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'blog-home' %}">Blog</a></li>
        <li><a href="{% url 'blog-about' %}">About</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'blog-home' %}">Blog</a></li>
        <li><a href="{% url 'blog-about' %}">About</a></li>
        <li><a href="{% url 'login' %}">LogIn</a></li>
        <li><a href="{% url 'register' %}">SignUp</a></li>
      {% endif %}
    </ul>
  </nav>
  <br>
    <main role="main" class="container">
        <div class="col-md-12">
          {%  if messages %}
            {% for message in messages %}
              {% if message.tags == 'success' %}  
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% else %}
                <div class="alert" style="background:red; color:white;">
                  {{ message }}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
    </main>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'blog/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
</body>
</html>